SOURCERATE = 625
SOURCEFORMAT = WAV
SOURCEKIND = WAVEFORM

TARGETRATE = 100000
TARGETFORMAT = HTK
TARGETKIND = MFCC_E_D_A_Z

ZMEANSOURCE = T
WINDOWSIZE = 200000.0
USEHAMMING = T
PREEMCOEF = 0.97
NUMCHANS = 26
NUMCEPS = 12
CEPLIFTER = 22
ENORMALISE = T
DELTAWINDOW = 2
SAVEWITHCRC = F
BYTEORDER = VAX
